header {
  background-color: $bg-dark-top;
  height: $heigthHeader;
  padding: 10px 0;
  /*menu dx*/
  &-top-bar{
    display: flex;
    justify-content: flex-end;

    .menu-dx{

      &-list{
        @include listInline;

        li {
          padding: 0 15px;

          span {
            color: $color-action;
            padding: 0 5px;
          }

          a {
            color: $color-top-menu;
            text-decoation: none;
          }

          &:hover {
            text-decoration: underline;
            color: #fff;
          }
        }
      }
    }
  }

  &-bottom-bar{

  }

}
