//altezza _header
$heigthHeader: 95px;

//colore sfondo header nav
$bg-dark-top: #101010;

//colore header nav
$dark: #333333;

//colore sfondo section centrae $dark
$bg-dark-sec: #222222;

//colore font menu wrapper-top
$color-top-menu: #989898;

//colore link-icone-btn
$color-action: #009cff;
